@page "/"
@inject NavigationManager Nav

<PageTitle>Home @GlobalData!.Language</PageTitle>

<div class="menu-container">
    <img src="/images/logo.png" class="logo" alt="Logo">

    <div class="menu-buttons">
        <button @onclick="OnNewGameClick">@GlobalData.GetLocalizedUITag("MainMenu_NewGame")</button>
        <button @onclick="Test">Test</button>
        <button>@GlobalData.GetLocalizedUITag("MainMenu_Continue")</button>

        <div class="language-select">
            <label for="language">@GlobalData.GetLocalizedUITag("MainMenu_Language"):</label>
            <select id="language" value="@GlobalData.Language" @onchange="OnLanguageChanges">
                @foreach (string lang in GlobalData.UI_Localization.Keys)
                {
                    <option value="@lang">@GlobalData.GetLocalizedUITag(lang)</option>
                }
            </select>
        </div>
    </div>
</div>

@code
{
    [CascadingParameter] private GlobalData GlobalData { get; set; } = null!;

    private void OnNewGameClick()
    {
        Nav.NavigateTo("/PlayersSelect");
    }

    private void Test()
    {
        GlobalData.PlayersNum  = 2;
        GlobalData.PlayerAName = "Player1";
        GlobalData.PlayerBName = "Player2";
        GlobalData.PlayerCName = "Player3";
        GlobalData.PlayerDName = "Player4";
        GlobalData.TownName    = "PlayersTown";
        GlobalData.ScenarioId  = ScenarioId.CostOfDisease;
        Nav.NavigateTo("/PlayersScenarioLanguage");
    }

    private void OnLanguageChanges(ChangeEventArgs e)
    {
        GlobalData!.Language = e.Value!.ToString()!;
        Nav.NavigateTo("/");
    }
}
